.text-clr-dark-2{
    color: #1F1E37;
}
.bg-gay2 {
   background-color: #EEEEF1;
}
.ls-2{
    letter-spacing: 1.2px;
}
.bg-gray3{
    background-color: #EEEEF1;
}
.text-gray3{
    color: #1F1E37;
}
.common-title{
    max-width: 625px;
    width: 100%;
    margin: auto;
}
/* common-banner */
.common-banner {
  padding-top: 154px;
  padding-bottom: 100px;
  overflow: hidden !important;

  .breadcrumb {
    margin-top: 24px;
    .breadcrumb-item {
        color: var(--gray-1);
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    a{
        color: var(--gray-1);
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
    }
  }
  .circle-shape {
    position: absolute;
    left: -200px;
    top: 100;
    z-index: -10;
    transform-origin: center;
    transform: rotate(-75deg);
    animation: animation-circle-shape 25s 0s linear infinite forwards;
}
@keyframes animation-circle-shape {
    0%,
    100% {
        top: 00%;
        left: -200px;
        transform: rotate(-75deg);
    }

    20% {
        left: 0px;
        top: -10%;
        transform: rotate(-60deg);
  
    }

    40% {
        left: 10%;
        top: 10%;
        transform: rotate(0deg);
        @media (max-width:1500px) {
            left: 0;
        }
    }

    60% {
        left: 30%;
        top: 10%;
        transform: rotate(30deg);
        left: 0;
    }

    80% {
        left: 0%;
        top: 15%;
        transform: rotate(50deg);
        left: 0;
    }
}

}
/*  / common-banner */



/*  care option */
.care-option{
    min-height: 588px;
    background-image: url(../img/careoption.png);
    background-repeat: no-repeat;
    background-size: cover;

    .careOption-wrap{
        max-width: 927px;
        width: 100%;
        margin: auto;
    }
}
/*  / care- option */


/*  affordable care-  */
.affording-item{
    padding: 65px 60px;
    border-radius: 52px 0px;
}
/*  / affordable care- */


/* treatment- */
.treatment-wrap{
margin-top: 70px;
.treatment-row-item{
    padding: 10px;
    border-radius: 52px 0px 52px 0px;
background: var(--white, #FFF);
.treatment-image{
    img{
        border-radius: 52px 0px 0px 0px;
    }
}
}
}
/*  / treatment */
