/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Libre+Franklin:wght@300;400;500;700&display=swap");

/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
}

:root {
    --primary-blue: #17134c;
    --light-blue: #efeff6;
    --secondary-yellow: #f7b112;
    --light-yellow: #faf7ef;
    --gray-1: #3f3e4e;
    --gray-2: #cbcae1;
    --gray-3: #EEEEF1;
    --gray-4: #1F1E37;
}

.container {
    @media (min-width: 1920px) {
        max-width: 1440px;
        padding: 0 15px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

/* reset, root - END */

/* helper , base classes */
.font-inter {
    font-family: "Inter", sans-serif;
}

// colors class - Start
.text-clr-primary-blue {
    color: var(--primary-blue);
}

.text-clr-light-blue {
    color: var(--light-blue);
}

.text-clr-secondary-yellow {
    color: var(--secondary-yellow);
}

.text-clr-light-yellow {
    color: var(--light-yellow);
}

.text-gray-1 {
    color: var(--gray-1);
}

.text-gray-2 {
    color: var(--gray-2);
}

.text-gray-4 {
    color: var(--gray-4);
}

.bg-primary-blue {
    background-color: var(--primary-blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-secondary-yellow {
    background-color: var(--secondary-yellow);
}

.bg-light-yellow {
    background-color: var(--light-yellow);
}

.bg-gray-3 {
    background-color: var(--gray-3);
}

// colors class - End

// Font weight and Font size
.fw-300 {
    font-weight: 300;
}

.fs-12 {
    font-size: 12px;
    line-height: 1.4em;

    @media (max-width: 767px) {
        font-size: 10px;
    }
}

.fs-13 {
    font-size: 13px;
}

.fs-18 {
    font-size: 18px;

    @media (max-width: 1199px) {
        font-size: 16px;
    }

    @media (max-width: 991px) {
        font-size: 15px;
    }

    @media (max-width: 567px) {
        font-size: 14px;
    }
}

.fs-22 {
    font-size: 22px;

    @media (max-width: 1199px) {
        font-size: 20px;
    }

    @media (max-width: 991px) {
        font-size: 18px;
    }

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.fs-26 {
    font-size: 26px;

    @media (max-width: 1199px) {
        font-size: 22px;
    }

    @media (max-width: 991px) {
        font-size: 20px;
    }
}

.fs-48 {
    font-size: 48px;
    line-height: 1.3em;

    @media (max-width: 1399px) {
        font-size: 44px;
    }

    @media (max-width: 1199px) {
        font-size: 38px;
    }

    @media (max-width: 991px) {
        font-size: 32px;
    }

    @media (max-width: 767px) {
        font-size: 26px;
    }
}

.fs-56 {
    font-size: 56px;
    line-height: 1.3em;

    @media (max-width: 1399px) {
        font-size: 48px;
    }

    @media (max-width: 1199px) {
        font-size: 41px;
    }

    @media (max-width: 991px) {
        font-size: 34px;
        line-height: 1.4em;
    }

    @media (max-width: 767px) {
        font-size: 30px;
        line-height: 1.4em;
    }
}

.section-padding-120 {
    padding-block: 120px;

    @media (max-width: 1399px) {
        padding-block: 100px;
    }

    @media (max-width: 1199px) {
        padding-block: 90px;
    }

    @media (max-width: 991px) {
        padding-block: 80px;
    }

    @media (max-width: 767px) {
        padding-block: 60px;
    }
}

.section-padding-180 {
    padding-block: 180px;

    @media (max-width: 1399px) {
        padding-block: 150px;
    }

    @media (max-width: 1199px) {
        padding-block: 120px;
    }

    @media (max-width: 991px) {
        padding-block: 100px;
    }

    @media (max-width: 767px) {
        padding-block: 80px;
    }

    @media (max-width: 575px) {
        padding-block: 60px;
    }
}

// Font weight and Font size

// Padding & Margin

.pt-30 {
    padding-top: 30px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-24 {
    padding-bottom: 24px;
}

.mb-24 {
    margin-bottom: 24px;

    @media (max-width: 991px) {
        margin-bottom: 18px;
    }
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-32 {
    padding-bottom: 32px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-32 {
    margin-bottom: 32px;

    @media (max-width: 1199px) {
        margin-bottom: 25px;
    }

    @media (max-width: 1199px) {
        margin-bottom: 25px;
    }
}

.pb-60 {
    padding-bottom: 60px;
}

.mb-60 {
    margin-bottom: 60px;

    @media (max-width: 1199px) {
        margin-bottom: 50px;
    }

    @media (max-width: 991px) {
        margin-bottom: 40px;
    }

    @media (max-width: 575px) {
        margin-bottom: 25px;
    }
}

.pl-30 {
    padding-left: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.lt-1 {
    letter-spacing: 1.2px;
}

.fs-4 {
    @media (max-width: 991px) {
        font-size: 22px !important;
    }

    @media (max-width: 767px) {
        font-size: 20px !important;
    }
}


.pl-100 {
    padding-left: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}

.border-top-left-radius-8 {
    border-top-left-radius: 8px;
}

.border-top-left-radius-60 {
    border-top-left-radius: 60px;
}

.border-bottom-right-radius-8 {
    border-bottom-right-radius: 8px;
}

.border-bottom-right-radius-60 {
    border-bottom-right-radius: 60px;
}

// Padding & Margin

/* helper , base classes -END */

.container {
    @media (min-width: 1920px) {
        max-width: 1440px;
        padding: 0 15px;
    }
}

/*--- Header menubar -/Start ---*/
.header-navbar-wrap {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.08);

    @media (max-width: 991px) {
        box-shadow: 0 10px 20px rgba(23, 19, 76, 0.08);
    }
}

.blue-btn a {
    border-radius: 100px;
    display: inline-flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 250ms ease-in-out;

    &:hover {
        background-color: var(--secondary-yellow);
        color: var(--primary-blue) !important;
    }
}

.navbar-wrap {
    padding-block: 22px;

    @media (max-width: 991px) {
        padding-block: 15px;
    }

    @media (max-width: 767px) {
        padding-block: 5px;
    }

    .navbar-toggler {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.topbar-menu-wrap {
    li.nav-item {
        padding-inline: 15px;

        @media (max-width: 1200px) {
            padding-inline: 5px;
        }

        a {
            position: relative;
            color: var(--primary-blue) !important;

            &::after {
                position: absolute;
                content: '';
                width: 0px;
                height: 1px;
                left: 8px;
                bottom: 5px;
                background-color: var(--secondary-yellow);
                transition: all 300ms ease-in-out;

                @media (max-width: 991px) {
                    left: 0px;
                }
            }

            @media (max-width: 1200px) {
                font-size: 16px;
            }

            &:hover {
                &::after {
                    width: 24px;
                }
            }
        }

        .active {
            color: var(--primary-blue) !important;
        }
    }
}

.topbar-menu-wrap {
    padding-top: 0px;

    @media (max-width: 991px) {
        padding-top: 25px;
    }
}

/*--- Header menubar -/End ---*/


/*--- Banner section -/Start ---*/
.banner-wrap {
    padding-block: 140px 120px;

    @media (max-width: 1399px) {
        padding-block: 180px 120px;
    }

    @media (max-width: 1199px) {
        padding-block: 160px 100px;
    }

    @media (max-width: 991px) {
        padding-block: 140px 80px;
    }

    @media (max-width: 767px) {
        padding-block: 110px 60px;
    }
}

.banner-image-wrap {
    margin-left: 68px;
    text-align: center;

    @media (max-width: 1199px) {
        margin-left: 0px;

        img {
            max-width: 500px;
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
    }
}

.dubble-btn-wrap {
    gap: 16px;

}

.yellow-fill-btn {
    padding: 15px 31px;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
    border: 1px solid var(--secondary-yellow);
    display: inline-block;

    @media (max-width: 767px) {
        padding: 12px 25px;
        font-size: 14px !important;
    }

    &:hover {
        background: var(--primary-blue);
        color: #ffffff;
        border-color: var(--primary-blue);
    }
}

.minimal-border-btn {
    padding: 15px 31px;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
    border: 1px solid var(--primary-blue);
    display: inline-block;

    @media (max-width: 767px) {
        padding: 12px 25px;
        font-size: 14px !important;
    }

    &:hover {
        background: var(--primary-blue) !important;
        color: #ffffff;
        border-color: var(--primary-blue);
    }
}

.cta-button-wrap {
    display: inline-block;

    @media (max-width: 767px) {
        padding: 12px 25px;
        font-size: 14px !important;
    }

    .yellow-fill-btn {
        &:hover {
            background: transparent !important;
            color: var(--secondary-yellow) !important;
            border-color: var(--secondary-yellow) !important;
        }
    }
}

/*--- Banner section -/End ---*/



/*--- Call to action -/End ---*/
.call-to-action {
    background-image: url('../img/call-to-action-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .cta-inner-wrap {
        max-width: 927px;
        padding-inline: 30px;

        @media (max-width: 767px) {
            padding-inline: 10px;
        }

        @media (max-width: 575px) {
            padding-inline: 0px;
        }
    }
}

/*--- Call to action -/End ---*/

/*--- why pinnacle -/End ---*/
.why-pinnacle {
    .text-content {
        p {
            line-height: 1.45em;

            @media (max-width: 1199px) {
                max-width: 100%;
            }
        }

        h2 {
            max-width: 570px;
        }
    }

    .pinnacle-sec-img {
        text-align: center;

        img {
            border-radius: 16px;
            border: 15px solid #ffffff;
            background: #FFFFFF;
            box-shadow: 0px 20px 40px 0px rgba(23, 19, 76, 0.05);

            @media (max-width: 991px) {
                max-width: 550px;
                width: 100%;
            }

            @media (max-width: 767px) {
                max-width: 450px;
                width: 100%;
            }
        }
    }

}

/*--- why pinnacle -/End ---*/

/*--- Doctor section -/End ---*/
.doctor-paul-img {
    padding-top: 30px;

    @media (max-width: 991px) {
        padding-top: 80px;

        img {
            max-width: 500px;
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        padding-top: 60px;

        img {
            max-width: 400px;
            width: 100%;
        }
    }
}

.doctor-section-content {
    padding-block: 120px;

    @media (max-width: 1399px) {
        padding-block: 100px;
    }

    @media (max-width: 1199px) {
        padding-block: 80px;
    }

    @media (max-width: 991px) {
        padding-block: 50px 80px;
    }

    @media (max-width: 767px) {
        padding-block: 40px 60px;
    }
}

/*--- Doctor section -/End ---*/

/*--- Treatment -/End ---*/
.treatment {
    .treatment-feature-wrapper {
        .learn-more-btn {
            border-bottom: 1px solid var(--primary-blue);
            transition: all 200ms ease-in-out;

            &:hover {
                color: var(--secondary-yellow);
                border-color: var(--secondary-yellow);
            }

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        .treatment-feature-item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px;

            @media (max-width: 991px) {
                gap: 25px;
            }

            @media (max-width: 767px) {
                gap: 20px;
            }

            div {
                img {
                    @media (max-width: 991px) {
                        max-width: 80px;
                    }

                    @media (max-width: 767px) {
                        max-width: 70px;
                    }

                }
            }
        }
    }

    .treatment-sec-img {
        img {
            @media (max-width: 991px) {
                max-width: 500px;
                width: 100%;
            }

            @media (max-width: 767px) {
                max-width: 400px;
                width: 100%;
            }
        }
    }

}

/*--- Treatment -/End ---*/


/*--- Home page about -/End ---*/
.about-section-img {
    text-align: center;

    margin-left: -50px;

    img {
        @media (max-width: 991px) {
            max-width: 550px;
            width: 100%;
        }

        @media (max-width: 767px) {
            max-width: 400px;
            width: 100%;
        }
    }
}

/*--- Home page about -/End ---*/


/*--- Map -/Start ---*/
.map-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: -10px;

    .map-address-card {
        position: absolute;
        top: calc(50% - 207px);
        left: 15%;
        max-width: 450px;
        border-radius: 12px;
        background: #fff;
        box-shadow: 6px 10px 40px 0px rgba(0, 0, 0, 0.12);
        padding: 30px;

        @media (max-width: 991px) {
            max-width: 380px;
        }

        @media (max-width: 767px) {
            max-width: 320px;
            padding: 20px;
            top: calc(50% - 170px);
        }

        @media (max-width: 575px) {
            max-width: 260px;
            top: calc(50% - 170px);
            padding: 15px;
            left: calc(50% -130px)
        }

        @media (max-width: 350px) {
            max-width: 200px;
            top: calc(50% - 170px);
            padding: 10px;
            left: calc(50% -130px)
        }
    }

    .address-info {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;

        @media (max-width: 575px) {
            gap: 16px;
            margin-top: 15px;

            p {
                font-size: 12px;
                ;
            }
        }
    }

    .map-iframe-wrap {
        .map-iframe-inner {
            height: 100%;
            min-height: 800px;

            @media (max-width: 1199px) {
                min-height: 700px;
            }

            @media (max-width: 991px) {
                min-height: 600px;
            }
        }
    }
}

/*--- Map -/End ---*/


/*--- Footer style - Start ---*/
.footer {
    padding-top: 120px;

    @media (max-width: 1199px) {
        padding-top: 100px;
    }

    @media (max-width: 776px) {
        padding-top: 90px;
    }

    @media (max-width: 567px) {
        padding-top: 70px;
    }

    .footer-wrapper {
        padding-bottom: 100px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        @media (max-width: 1199px) {
            padding-bottom: 50px;
        }

        @media (max-width: 776px) {
            padding-bottom: 20px;
        }

        @media (max-width: 567px) {
            padding-top: 0;

        }
    }

    .footer-widget {
        .footer-title {
            margin-bottom: 40px;

            @media (max-width:776px) {
                margin-bottom: 28px;
            }
        }

        .footer-menu {
            margin-bottom: 20px;

            @media (max-width:776px) {
                margin-bottom: 13px;
            }

            .footer-contact-wrap {
                svg * {
                    transition: .2s all ease-in-out;
                }

                &:hover {
                    svg * {
                        fill: #F7B112;
                    }

                    .contactLogo {
                        background: #fff;
                    }
                }
            }

            .contactLogo {
                height: 48px;
                width: 48px;
                background: rgba(255, 255, 255, 0.10);
                border-radius: 100px;
            }

            a {
                transition: .2s all ease-in-out;

                &:hover {
                    color: var(--secondary-yellow) !important;
                }
            }
        }

        .footer-link {
            margin-bottom: 20px;
            transition: .2s all ease-in-out;

            &:hover {
                color: var(--secondary-yellow) !important;
            }
        }
    }

    .footer-bottom {
        padding: 25px 0;
    }

    .footer-social {
        .footer-social-link {
            svg * {
                transition: .2s all ease-in-out;
            }

            &:hover {
                svg * {
                    fill: var(--secondary-yellow);
                }
            }
        }
    }
}

/*--- Footer style - End ---*/





/*--- About page style - Start ---*/


.recognition {
    margin-bottom: 120px;
}

.recognition-card {
    background-color: var(--light-yellow);
    padding: 30px;
    height: 100%;

    h4 {
        line-height: 1.41;
    }

    p {
        line-height: 1.55em;
    }
}

.icon-box-section-wrap {
    padding-bottom: 120px;

    @media (max-width: 1399px) {
        padding-bottom: 100px;
    }

    @media (max-width: 1199px) {
        padding-bottom: 90px;
    }

    @media (max-width: 991px) {
        padding-bottom: 80px;
    }

    @media (max-width: 767px) {
        padding-bottom: 60px;
    }

    .row {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 24px;
    }
}

.contact-info-and-map-wrapper {
    .footer-widget {
        max-width: 412px;
    }
}

.location-cta-section {
    background-image: url('../img/location-page-cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .cta-inner-wrap {
        max-width: 927px;
        padding-inline: 30px;

        @media (max-width: 767px) {
            padding-inline: 10px;
        }

        @media (max-width: 575px) {
            padding-inline: 0px;
        }
    }
}

// Contact form section
.contact-form-sec {
    .contact-form-wrap {
        display: flex;
        gap: 30px;
        padding: 60px;

        .contact-form-content-area-wrap {
            h2 {
                max-width: 500px;
            }
        }
    }
}

.recognition-sec-img {
    text-align: center;

    img {

        @media (max-width: 991px) {
            max-width: 550px;
            width: 100%;
        }

        @media (max-width: 767px) {
            max-width: 450px;
            width: 100%;
        }
    }
}

/*--- About page style - End ---*/